<div class="container" ng-init="getUserProfile()"> 
  <p><pre>{{returnMessage}}</pre></p>
        <div class="row" ng-repeat="data in userData">
            <div class="panel panel-default">
            <div class="panel-heading">
                <h4 >User Profile</h4>
                  <ul class="nav navbar-nav navbar-right">
                <li data-ng-if="isLogin"><a href="#!logout" ng-click="logout()"><span class="glyphicon glyphicon-log-out"></span>Logout</a></li>
                </ul>
            </div>
             <div class="panel-body">
            <div class="col-md-4 col-xs-12 col-sm-6 col-lg-4">
             <img alt="User Pic" ng-src="{{data.picture.large}}" id="profile-image1" class="img-square img-responsive">
            </div>
            <div class="col-md-8 col-xs-12 col-sm-6 col-lg-8" >
                <div class="container" >
                  <h2>{{data.name.title}}-{{data.name.first}}&nbsp;{{data.name.last}}</h2>
                  <p><b>{{data.gender}}</b></p>
                </div>
                 <hr>
                <ul class="container details" >
                  <li><p><span class="glyphicon glyphicon-phone" style="width:50px;"></span>{{data.cell}}</p></li>
                  <li><p><span class="glyphicon glyphicon-envelope one" style="width:50px;"></span>{{data.email}}</p></li>
                  <li><p><span class="glyphicon glyphicon-gift" style="width:50px;"></span>{{data.dob}}</p></li>                  
                  <li><p><span class="glyphicon glyphicon-globe" style="width:50px;"></span>{{data.location.street}},
                    {{data.location.city}},{{data.location.state}},{{data.location.postcode}}</p></li>
                </ul>
                <hr>
                <div class="col-sm-5 col-xs-6 tital " >Registered on : &nbsp;{{data.registered}}</div>
            </div>
      </div>
  </div>
  </div>
</div>